.inputTask{
    display: flex;
    width: 150px;
    margin: 0;
    padding: 5px;
    word-break: break-all;
  }
  

:where(.css-dev-only-do-not-override-m4timi).ant-typography {
  color: gray;
  line-height:1.5;
}